body {
  background-color:#eee;
  margin:0;
  color:gray;
}
.container {
  background-color:#fff;
}
h2 {
  text-align:center;
}
.imagen {
  text-align:center;
  background-color: #eee;
}
.img-circle{
  border-color:#0A2E93f;
}
.uno {
  color:#fff;
  background-color:#212A44;
  float: left;
  margin: 5px;
}
.dos {
  color:#fff;
  background-color:#212A44;
  float: left;
  margin: 5px;
}
.tres {
  color:#fff;
  background-color:#212A44;
  float: left;
  margin: 5px;
}
.cuatro {
  color:#fff;
  background-color:#212A44;
  text-align: left;
  margin: 5px;
}
.spanish {
 float:right;
}
.english {
 float:right;
}
.footer {
  text-align: right;
  padding: 10px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #212A44;
}
h3 {
  color:#212A44;
}
h2 {
  color:#212A44;
}
.educacion {
 padding:5px;
 background-color:#ccc; 
 color:#fff;
}